@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.main-content {
  padding-top: 80px; /* Adjust based on your navbar height */
  padding-bottom: 40px; /* Space before footer */
}

.page {
    height: 100%;
    margin-top: 60px;
}

/* .layout {
  display: flex;
  flex-direction: column;
  width: 100%;
} */



@media (max-width: 768px) {
  .main-content {
    padding-top: 70px; 
  }
}