.input {
    margin-top: 1rem;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #6E8EFB;
    outline: none;
}

.hover-text-primary:hover {
    color: #6E8EFB;
}



@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        gap: 2rem !important;
    }
    
    .useful-links {
        align-items: center;
    }
    
    .subscribtion-section {
        width: 100%;
    }
}